{# /StudX_dir/StudX/user/templates/user/user_list_filter.html #}

{% load i18n %}

<nav class="navbar navbar-light bg-light justify-content-between">
	<div class="btn-group" role="group" aria-label="First group">
		<button type="button" class="btn btn-sm btn-outline-secondary" disabled>Total: {{ user_list|length }}</button>
	</div>

	<div class="btn-group float-right" role="group">
	{% if perms.user.add_user %}
		<a class="btn btn-secondary btn-sm" href="{% url 'user:create_user' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
	{% endif %}
		<a class="btn btn-sm btn-secondary" href="#"><i class="fas fa-flag"></i></a>
	</div>

</nav>