{# /StudX_dir/StudX/student/templates/student/arrivals_departures/in_out_delete_modal.html #}

{% load i18n %}

<!-- Arrivals Delete Modal -->
<div class="modal" id="ArrivalDepartureDeleteModal">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-body">
		{% trans "Are you sure ?" %}
	  </div>
	  <div class="modal-footer">
		<form action="" method='POST'>
			{% csrf_token %}
			<button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
			<a class="btn btn-secondary" href="{% url 'student:delete_inout' 'Arrival' record.id %}">{% trans "Confirm" %}</a>
		</form>
	  </div>
	</div>
  </div>
</div>