{# /StudX_dir/StudX/student/templates/student/notes/student_notes_filter.html #}

{% load i18n %}

<nav class="navbar navbar-light bg-light justify-content-between">
	<div class="btn-group" role="group" aria-label="First group">
		<button type="button" class="btn btn-sm btn-outline-secondary" disabled>Total: {{ student_notes|length }}</button>
	</div>

	<div class="btn-group float-right" role="group">
		<a class="btn btn-secondary btn-sm" href="{% url 'student:create_student_note' student_record.uuid %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
		<a class="btn btn-sm btn-secondary" href="#"><i class="fas fa-flag"></i></a>
	</div>

</nav>